@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

main {
	margin-top: 90px;
}

h1, h2 {
	color: #007eff;
	font-size: 2em;
}

ul {
	list-style-type: none;
	margin: 0;
}

a {
	text-decoration: none;
}

.Container {
    padding: 20px 10px;
	max-width: 1140px;
	margin: 0 auto;
}

.EdyodaLogo {
	position: fixed;
	bottom: 2%;
	right: 1%;
	width: 8%;
	z-index: 10;
}

@media screen and (max-width: 900px) {

	main {
		margin-top: 100px;
	}

	.Container {
		padding: 10px;
	}

	h1, h2 {
		font-size: 1.8em;
	}

	.EdyodaLogo {
		width: 12%;
	}

}

@media screen and (max-width: 700px) {

	h1, h2 {
		font-size: 	1.5em;
	}

	.EdyodaLogo {
		width: 18%
	}

}

@media screen and (max-width: 600px) {

	header .Container{
		padding: 5px 0;
	}

	main {
		margin-top: 60px;
	}
}

@media screen and (max-width: 414px) {

	h1, h2 {
		font-size: 1.2em;
	}

	.EdyodaLogo {
		width: 25%;
	}

}
