.Clothes, .Accessories {
	display: flex;
	justify-content: space-between;
}

figure {
    text-align: center;
    display: inline-block;
    margin: 0 10px 10px 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px #ddd;
    transition: 0.2s;
}

figure:hover {
	box-shadow: 0 5px 10px #ccc;
}

figure img {
	width: 	100%;
	border-radius: 10px;
}

figcaption {
	padding: 10px 0;
}

figure h4 {
	font-size: 1em;
}

figure h4, figure p{
	margin: 0;
}

.Brand {
	color: #797979;
}

.Price {
	color: crimson;
}