.Thank {
	text-align: center;
}

.Thank i{
	font-size: 15em;
	color: #007eff;
}

.Thank h1, p {
	margin: 0;
	margin-bottom: 10px;
}

.Desc {
    color: #797979;
}

@media screen and (max-width: 700px) {

	.Thank i {
		font-size: 12em;
	}

}

@media screen and (max-width: 414px) {

	.Thank i {
		font-size: 6em;
	}

}